/* New section form styles */
@import 'main.scss';

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit {
    margin-top: 10px;
    width: 100px;
}

.field {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    font-size: 13px;
}

.title {
    margin-bottom: 5px;
}

.submitNewSection {
    @extend .newSectionButton;
    margin-top: 20px;
    border: 2px solid #5cb85c;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}